#content {
  width: 600px;
  background: #fff;
  border: 10px solid fuchsia;
  padding: 20px 15px 30px 25px; /* Adds 20px of space to all sides */
  margin: 20px auto 5px;  /* Adds 20px to the top & bottom & centers left/right */
}
img {
	float: right;
	width: 100px;
	padding-bottom: 300px;
	height: 95px;

}
#footer {
	height: 20px;
	width: 600px;
	margin: auto;
	border: 10px solid yellow;
	background: #336699;
	font-size: 12px;
	color: white;
	padding: 20px;
}